/*
Light:   #f95688
         rgba(249,86,136,1)
Primary: #c1185b
         rgba(193,24,91,1)
Dark:    #8b0032
         rgba(139,0,50,1)
*/


* {
  font-family: 'Montserrat', sans-serif;
  -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
}

body, html {
  min-width: 300px;
  height: 100%;

  margin: 0; 
  overflow: hidden;

  line-height: 1.5em;
}

.button {
  transition:
    background-color 0.1s 0s ease-in-out,
    color            0.1s 0s ease-in-out;
}

.button.destructive {
  color: red;
}

.textbutton {
  color: #c1185b;

  border-radius: 5px;

  font-size: 100%;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
}

.textbutton:hover {
  background-color: rgba(0,0,0,0.1);
}
.textbutton:active {
  color: #8b0032;
  background-color: rgba(0,0,0,0.15);
}

.hidden {
  display: none;
}

.textdisabled {
  color: rgba(0,0,0,0.33);
}

/** HEADER **********************************************************/
.header {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;

  padding: 15px 20px;

  background-color: #c1185b;

  font-weight: 500;
  font-size: 24px;
  line-height: 30px;

  color: #FFF;
  
  z-index: 10;
  box-shadow: 0 2px 3px rgba(0,0,0,0.16);
}

.header-button {
  float: right;
  font-size: 24px;

  line-height: 30px;
  width: 30px;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;

  margin-right: 8px;
}

.header-button > .material-icons {
  position: relative;
  top: 2px;

  font-size: 20px;
}

.header-button:hover {
  background: rgba(139,0,50,0.33);
}

.header-button:active {
  background: rgba(139,0,50,0.66);
}

/** MODALS *********************************************************/
.popup {
  left: 50%;
  margin: -250px 0 0 -32%;
  opacity: 0;
  position: absolute;
  top: -50%;
  display: block;
  width: 65%;
  border-radius: 2px;
  box-sizing: border-box;
  visibility: hidden;
  transition: all .5s ease-in-out;

  z-index: 100;
}
.popup.narrow {
  width: 32%;
  margin-left: -16%;
}
@media screen and (max-width: 1100px) {
  .popup.narrow {
    width: 65%;
    margin-left: -32%;
  }
}
  
.popup.active {
  opacity: 1;
  top: 282px;
  visibility: visible;
}
.popup-overlay {
  visibility: hidden;
  opacity: 0;
  background-color: #000;
  background: rgba(0,0,0,0.5);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  
  transition: all 0.25s ease-in-out;
  transition-delay: .55s;

  z-index: 101;
}
.popup.active > .popup-overlay { visibility:visible; opacity: 1 }

.popup-container {
  background: #FFF;
  position: relative;

  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.16);
  border-radius: 2px;

  z-index: 102;
}
.popup-header {
  border: 0px solid #ddd; border-bottom-width: 1px;
  border-radius: 2px 2px 0 0;

  background-color: #8b0032;
  
  padding: 15px 15px;

  color: white;
  font-weight: 500;
  font-size: 110%;
}

.popup-content {padding: 25px 15px 15px;}
.popup-footer {
  height: 40px;

  font-size: 95%;

  border: 0px solid #ddd; border-top-width: 1px;

  padding: 0 4px;
}

.popup-footer>.textbutton {
  padding: 0px 15px;

  position: relative;
  float: right;

  line-height: 40px;
}

/** **/
.add-task-field, .add-work-field {
  float: right;
}

.popup-content {
  line-height: 1.5rem;
  font-weight: 400;
}

/** BODY **********************************************************/
.calendar-container {
  position: absolute;
  top: 60px; bottom: 0px; left: 0px; right: 0px;
  
  max-width: 900px;
  margin: 0 auto;
  padding: 10px;
}

#calendar {
  position: absolute;
  left: 10px;
  right: 10px;
  top: 10px;
}