/*
Light:   #f95688
         rgba(249,86,136,1)
Primary: #c1185b
         rgba(193,24,91,1)
Dark:    #8b0032
         rgba(139,0,50,1)
*/


* {
  font-family: 'Roboto', sans-serif;
  -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
}

body {
  min-width: 300px;
  height: 100%;

  margin: 0; 
  overflow: hidden;
}

/** HEADER **********************************************************/
.header {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;

  padding: 15px 20px;

  background-color: #c1185b;

  font-weight: 500;
  font-size: 24px;
  line-height: 30px;

  color: #FFF;
  
  z-index: 10;
  box-shadow: 0 2px 3px rgba(0,0,0,0.16);
}

.header-button {
  float: right;

  font-size: 24px;

  line-height: 30px;
  width: 30px;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;

  margin-right: 8px;
}

.header-button > .material-icons {
  position: relative;
  top: 2px;

  font-size: 20px;
}

.header-button:hover {
  background: rgba(139,0,50,0.33);
}

.header-button:active {
  background: rgba(139,0,50,0.66);
}

/** BODY **********************************************************/
.calendar-container {
  position: absolute;
  top: 60px; bottom: 0px; left: 0px; right: 0px;
  
  max-width: 900px;
  margin: 0 auto;
  padding: 10px;
}

#calendar {
  position: absolute;
  left: 10px;
  right: 10px;
  top: 10px;
}